<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="display">
            <h4>Submitted info</h4>
            Name :  @ViewBag.fullname<br>
            Dojo Location : @ViewBag.dojoLocation<br>
            Favorite Language :@ViewBag.favoriteLanguage<br>
            Comment: @ViewBag.comments
            <form action="/">
                <button>Go Back</button>
            </form>
        </div>
    </div>
    
</body>
<style>
    .display{
        width: 300px;
        border: solid black 1px;
    position: relative;
    left: 35%;
    margin-top: 150px;
}
</style>
</html>